<launch>

    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find coconuts_odroid)/launch/brain.launch" />
    <include file="$(find coconuts_odroid)/launch/bridge.launch" />
    <include file="$(find coconuts_odroid)/launch/detect_ball_forward.launch" />
    <include file="$(find coconuts_odroid)/launch/detect_ball_down.launch" />
    <include file="$(find coconuts_odroid)/launch/detect_bucket_forward.launch" />
    <include file="$(find coconuts_odroid)/launch/motion.launch" />
    <include file="$(find coconuts_odroid)/launch/localization.launch" />

    <node name="waypoints" pkg="coconuts_odroid" type="waypoints" />
   
</launch>
