<launch>

<node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" type="string" value="/dev/input/js0" />
</node>

<node pkg="coconuts_master" type="snes_joy_node" name="snes_joy_node" output="screen" >
    <param name="max_ang_vel" value="1.0" />
    <param name="max_lin_vel" value="0.25" />
</node>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find coconuts_master)/rviz/robot.rviz" />

<node name="turtlebot_tf" pkg="coconuts_master" type="turtlebot_tf" />

<node name="ball_marker" pkg="coconuts_master" type="ball_marker" />

</launch>
